body {
  margin: 0;
  background: #d9d9d9;
  font-family: "Segoe UI", system-ui, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: hidden;
}



/* Notebook page */
.notebook {
  flex: 1;
  display: flex;

  background: #c8b89a;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;

  overflow: hidden;
}




.page {
  flex: 1;
  height: 100%;
  background: #fffef8;
  padding: 40px 50px;
  position: relative;
  overflow-y: auto;
}



/* Ruled lines */
.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 28px,
      rgba(0, 0, 255, 0.08) 29px
    );
  pointer-events: none;
}

/* Red margin line */
.page::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  width: 2px;
  background: rgba(255, 0, 0, 0.3);
}

.spine {
  width: 16px;
  background: linear-gradient(
    to right,
    #b5a98a,
    #e0d5b7,
    #b5a98a
  );
}

.top-tabs {
  display: flex;
  gap: 8px;
  padding-left: 12px;
}


.tabs {
  position: absolute;
  left: -45px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.tab {
  padding: 8px 16px;
  background: #e5e5e5;
  border-radius: 6px 6px 0 0;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

.tab.active {
  background: #ffd966;
  font-weight: bold;
}

